.userButton {
  width: 100px;
  height: 100px;
  /* background-color: #ed563b; */
  margin: 20px 20px 60px 20px;
  max-height: fit-content;
  /* background-image: url('../images/fox.jpg'); */
  /* background-position: center;
    background-size: contain;
    background-repeat: no-repeat; */
}

.userImage {
  width: 100px;
  height: 100px;
  /* margin-top: 15px; */
  border-radius: 50%; /* Makes the image circular */
  object-fit: cover; /* Ensures the image covers the container */
  border: #ffffff 2px solid;
  margin-bottom: 10px;
  background-color: #ffffff;
  opacity: 0.5;
  transition: all 0.3s;

}

.userButton img:hover {
  border: #ed563b 2px solid;
  transform: scale(1.1);
  opacity: 1;
}

.userButton h6 {
  opacity: 0.8;
}

.userButton h6:hover {
  opacity: 1;
}

.main-banner .caption .usertype {
  color: #ed563b;
  font-size: small;
  margin-top: 3px;
}

.main-banner .caption .username {
  font-size: medium;
}

.admins {
  display: flex;
  /* border-right: #ed563b 2px solid; */
  /* padding-right: 50px; */
  flex-wrap: wrap;
  justify-content: center;
}
.coaches {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main-banner .caption .border {
  border: #ed563b 1px dashed !important;
}

@media (max-width: 588px) {
  .main-banner .caption h2 {
    font-size: 30px;
    /* visibility: hidden;   */
  }
}

@media (max-width: 476px) {
  .main-banner .caption h2 {
    font-size: 20px;
    /* visibility: hidden;   */
  }
}


.admin-login {
  text-align: center;
}

.admin-list {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.admin-card {
  cursor: pointer;
  padding: 20px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: 0.3s;
}

.admin-card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.password-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  z-index: 1000;
}

.modal-content {
  text-align: center;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.after-login {
  color: white;
  font-size: 55px;
  font-weight: bold;
  margin-bottom: 50px;
}

.logout-button {
  background-color: darkred;
  color: white;
  border-radius: 15px;
  width: 170px;
  height: 75px;
  font-weight: bold;
  font-size: 30px;
  border: white;
}