html,
body {
  /* Radial gradient from the center */
  /* background-image: radial-gradient(circle, #ff7e5f, #feb47b); */
}

.member-page {
  transform: translate(0, 100px);
  transition: border 0.3s ease;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  border-radius: 2%;
  backdrop-filter: blur(20px);
  /* width: 90%; */
  /* max-width: 800px; */
  height: fit-content;
  padding: 1rem;
  margin: 0 auto;
  /* width: 55%; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
}

.main-row {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content:center;
  align-items: stretch;
  justify-items: center;
}

.main-column {
  border: #284c66 2px solid;
  border-radius: 5px;
  padding: 20px;
  margin-right: 20px;
  position: relative;
}

.grid-element{
  border: #284c66 2px solid;
  padding: 20px;
  border-radius: 5px;
  width: 100%;


}

.secondary-column {
  width: fit-content;
    border: 2px black solid;
    display: grid;
    border-radius: 5px;

;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    align-content: center;
    justify-items: center;
    align-items: stretch;
    justify-content: center;
    align-content: stretch;

    height: 300px;
    padding: 20px;
}

.member-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.test {
  width: 100px;
  height: 100px;
}
.member-pic {
  height: fit-content;
  border-bottom: #284c66 solid 1px;

  /* transform: translateY(-100px); */

  justify-content: center;
  justify-items: center;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  position: relative;
}

.member-pic img {
  width: 100px;
  border-radius: 50%;
  border: 2px solid #f81010;

  justify-content: center;
  justify-items: center;
  align-items: center;
}

.member-info {
  width: fit-content;
  height: fit-content;
  /* transform: translateY(-130px); */

  border-radius: 50%;
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.manage-member {
  width: fit-content;
  height: fit-content;
  /* transform: translateY(-130px); */

  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin: 20px;
}
.manage-member button {
  border-radius: 10px;
  color: white;
  background-color: #ed563b;
  font-weight: bold;
  border: unset;
  margin: 5px;
  padding: 5px;
}

.member-not-found {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: #e7dcc0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.sad-fox {
  max-width: fit-content;
  align-items: center;
  align-content: center;
  margin-bottom: 10px;
}

.sad-fox img {
  width: 300px;
}

.four-0-4 h1 {
  max-width: fit-content;
  color: #284c66;
  font-size: 60px;
  justify-self: center;
  margin-bottom: 5px;
  justify-content: center;
}

.four-0-4 p {
  max-width: fit-content;
  color: #284c66;
  font-size: 20px;
  justify-self: center;
}

.fox-gym-logo {
  max-width: fit-content;
  margin: 20px;
}

.fox-gym-logo img {
  width: 100px;
}

.change-package-disabled {
  opacity: 50%;
}

.member-id {
  margin: 5px;
  font-size: large;
  font-weight: bold;
}

.active-status {
  color: green;
}

.inactive-status {
  color: red;
}

.edit-member {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 999;
}

.edit-member h6 {
  font-size: 10px;
  color: #ff4800;
}

.edit-member:hover {
  opacity: 0.5;
}

.info-column {
  width: 100%;
}
